body {
  text-align: center;
  font-family: courier;
  background-image:url("../assets/image.jpeg");
  background-repeat: no-repeat;
  background-size: 100%;
}

table.sortable thead {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: default;

}

table.menu

tr th span.gg {
  border: 0px solid blue;
  margin-left: 5px;
  cursor: pointer;
}
table, tr th, .gg {
  position: relative;
}
#combito{
  z-index: 99;
  width: 200px;
  background-color: #f0f0f0;
  cursor: pointer;
  border: 1px solid #99bbe8;
  padding: 3px;
  vertical-align: middle;
  position: absolute;
  display: none;
  font-family: helvetica, tahoma, verdana, sans-serif;
  font-size: 11px;
  line-height: 16px;
}
#combito .opt-combito, #combito .opt-combito *{
  padding: 0 2px;
  margin: 1px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
#combito .opt-combito img{
  margin: 4px 11px 0 2px;
}
#combito .opt-combito span{
  top: -4px;
  position: relative;
}
#combito .opt-combito:hover{
  background-color: #d9e8fb;
  background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#e7f0fc),color-stop(100%,#c7ddf9));
  background-image: -moz-linear-gradient(top,#e7f0fc,#c7ddf9);
  background-image: linear-gradient(top,#e7f0fc,#c7ddf9);
  box-shadow: 0 0 1px 1px #a9cbf5;
}
.show{
  display: block !important;
}
#separator{
  position: absolute;
  top: 0;
  left: 30px;
  z-index: 0;
  border-left: solid 1px #e0e0e0;
  background-color: white;
  width: 1px;
  height: 100%;
  overflow: hidden;
}

//27th january

.filter-table {
border-spacing: 0px !important;
width:100% !important;
border:   solid transparent 1px !important;
border-collapse: separate !important;

}
.search-table{
border-collapse: separate !important;
border-spacing: 0px !important;
}

body
{
width:expression(document.documentElement.clientWidth <= 1258? "1258px": "auto" ) !important;

}

.filter-table th,.filter-table  td,
.filter-table tr
{white-space: nowrap;
}

.search-table th, .search-table td,
.search-table tr
{white-space: nowrap;
}

body .filter-table th,body .filter-table  td{
    box-sizing: content-box !important;
	  -webkit-box-sizing: content-box !important; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: content-box !important ;   /* Firefox, other Gecko */
}
/*ONLY FOR IE*/
body.ie .filter-table th,body.ie .filter-table  td{
box-sizing: border-box  !important;
}

.filter-table th,.filter-table  td{

display: inline-block;
padding:1px !important;
border: 1px solid gray !important;


}



    h1 {
    	font-family: helvetica;
    	font-weight: normal;
    	text-align: center;
    	color: #c0c0c0;
    	padding-top: 50px;
    	padding-bottom: 10px;
    	width: 375px;
    	margin: 0 auto;
    	border-bottom: 3px solid #f3f3f3;
    }

    .containers {
    	width: 520px;
    	margin: 20px auto;
    }

    .menu_btn {
    	font-family: helvetica;
    	width: 125px;
    	float: left;
    	margin-left: 5px;
    	&:first-child .dd_btn {
    		background: #f1c40f;
    		&:active {
    			background: #f39c12;
    		}
    	}
    	&:nth-child(2) .dd_btn {
    		background: #2ecc71;
    		&:active {
    			background: #27ae60;
    		}
    	}
    	&:nth-child(3) .dd_btn {
    		background: #3498db;
    		&:active {
    			background: #2980b9;
    		}
    	}
    	&:nth-child(4) .dd_btn {
    		background: #e74c3c;
    		&:active {
    			background: #c0392b;
    		}
    	}
    	.dd_btn {
    		height: 50px;
    		width: 125px;
    		color: #fff;
    		font-size: 18px;
    		border: 0px;
    		z-index: 3;
    		float: left;
    		cursor: pointer;
      	background-color:#E19E19;
    		&:active {
      		background-color:#946810;
    		}
    		&:focus {
    			outline: none;
    		}
    	}
    	.dd {
    		position: absolute;
    		width: 255px;
    		margin-top: 55px;
    		background: white;
    		text-align: center;
    		a {
    			width: 100%;
    			display: block;
    			height: 100%;
    			padding: 15px 0 15px 0;
    			text-decoration: none;
    			color: #666;
    			background: #f9f9f9;
    			&:hover {
    				background: #ecf0f1;
    			}
    			&:active {
    				background-color: #bdc3c7;
    				color: #fff;
    			}
    		}
    	}
    }

.cal{ display:inline-block; background:#ffe; color:#555; font-size:6px; text-align:center; transform:scale(1); transition:all 0.2s linear;}
.cal:hover{ transform:scale(2.5);transition:all 0.4s linear;}
.cal caption{ background:#d44; color:#eee; font-size:15px;}
.cal th{ color:#aaa;line-height:200%;}
.cal th:first-child{ color:#f00;}
.cal th:last-child{ color:#04d;}
.cal td{ padding:0 2px; line-height:100%;}
